@import url('https://fonts.googleapis.com/css?family=Muli|Paytone+One|Zilla+Slab&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  overflow-x:hidden;
}

html {
	scroll-behavior: smooth;
  box-sizing: border-box;
}

h1 {
  color: #fff;
  font-family: 'Paytone One', sans-serif;
}

span {
  color: #5BC0DE;
  font-family: 'Muli', sans-serif;
}

p {
  color: #5BC0DE;
  font-family: 'Muli', sans-serif;
}

h5 {
  color: #5BC0DE;
  font-family: 'Paytone One', sans-serif;
}

a {
  color: #34e389;
  font-family: 'Muli', sans-serif;
  -webkit-transition: all .35s;
}

a:hover {
  color: #f59342;
  -webkit-transition: all .35s;
}

i {
  color: #fff;
  font-size: 84px;
}

img {
  /* padding: 1px; */
  border: 2px solid #34e389;
  -webkit-transition: all .35s;
}

img:hover {
  /* padding: 1px; */
  border: 2px solid #f59342;
  -webkit-transition: all .35s;
}

/* #tic-tac-toe-picture {
  position:relative;
  margin:0 auto;
}

#tic-tac-toe-picture img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#tic-tac-toe-picture img.top:hover {
  opacity:0;
}

#kitty-picture {
  position:relative;
  height: 200px;
  margin:0 auto;
}

#kitty-picture img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#kitty-picture img.top:hover {
  opacity:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
} */

/* .kitty-image {
  max-height: 80vh;
} */

/* .show {
  color: rgba(91, 192, 222, .95) !important;
} */

/* .nottrans-expand { */
  /* background-color: rgba(91, 192, 222, 1); */
  /* text-shadow: */
  /* text-shadow: */
     /* 3px 3px 4px #2b5c6b,
     4px 4px 8px #fff; */
  /* -webkit-text-stroke: 1px #3d8499 !important; */

/* } */

.check {
  color: #f59342;
  font-size: 56px;
  font-family: 'Zilla Slab', serif;
  text-shadow:
     2px 2px 4px #945826;
}

.modal-content {
  text-align: center;
}

.card-title {
  color: #f59342;
}

.border-warning {
    border-width:2px !important;
    /* border-color: #5BC0DE !important; */
}

.lead {
  text-shadow:
     2px 2px 2px #5BC0DE;
}

.jenny-picture {
  height: 200px;
  border-radius: 40%;
  border: 5px solid #f59342;
}

.jenny-picture:hover {
  height: 200px;
  border-radius: 40%;
  border: 5px solid #f59342;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #f59342;
    text-align: center;
    background-color: #fff;
    border-radius: .25rem;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0 5px 5px;
    border-bottom-color: #fff;
}

.lead {
  color: #3d8499;
}

.display-4 {
  -webkit-text-stroke: 2px #3d8499;
}

.devicon {
  -webkit-transition: all .5s;
}

.devicon:hover {
  color: #f59342;
  text-shadow:
     2px 2px 4px #945826;
  -webkit-transition: all .5s;
}

.col-sm {
  padding: 15px;
}

.white {
  color: #fff;
}

.inline {
  text-align: center;
}

.not-white {
  color: #f59342;
  padding: 5px;
}

.card-footer {
  background-color: #fff;
}

.bunting {
  background-image: url("../images/bunting4.png");
  background-size: cover;
  padding: 11%;
}

.navbar.nottrans {
  background-color: rgba(245, 147, 66, .95);
  -webkit-transition: all .75s;
  box-shadow:
     1px 1px 5px #945826;
  /* box-sizing: border-box; */
}

.navbar {
  /* background-color: rgba(255, 193, 7, 0.7); */
  background-color: #f59342;
  /* background-color: rgba(91, 192, 222, 1); */
  background: transparent;
  -webkit-transition: all .75s;
  /* box-sizing: border-box; */
    /* background-color: rgba(255, 193, 7); */
}

.narrow {
  padding-left: 15%;
  padding-right: 15%;
}

/* .row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
} */

.card-body {
  /* margin: 20px; */
}

.card {
  margin-bottom: 20px;
}

.jumbotron {
  width: 100%;
}

.container {
  text-align: center;
  /* box-sizing: border-box; */
}
